@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center; margin-top:20px;">About Leticia</h2>


<div style="text-align: center; height: 200px; margin-top: 100px; background-color: #212529; color:white" " class="jumbotron">

    <h2>We envision a world where anyone, anywhere has the power to transform their life through learning.</h2>

</div>


<div style="padding-left:270px;" className="nonClickingContainer">
    <iframe width="620" height="315" style="border:none" id="video"
            src="https://www.youtube.com/embed/sVPYIRF9RCQ?autoplay=1&mute=1" frameborder="0" >
    </iframe>
</div>


<div style="text-align: center; height: 300px; margin-top: 100px; background-color: #212529; color:white" " class="jumbotron">

    <h2>Leticia partners with more than 200 leading universities and companies to bring flexible, affordable, job-relevant online learning to individuals and organizations worldwide. We offer a range of learning opportunities—from hands-on projects and courses to job-ready certificates and degree programs.</h2>
</div>

<div style="height:100px;"></div>